name: Continuous integration

on:
  pull_request:
  push:
    branches:
      - master
    tags:
      - '*'

permissions:
  contents: write
  id-token: write

env:
  HAS_SECRETS: ${{ secrets.HAS_SECRETS }}
  PYTHON_KEYRING_BACKEND: keyring.backends.null.Keyring

jobs:
  pre-commit:
    name: Pre commit
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    if: "!startsWith(github.event.head_commit.message, '[skip ci] ')"

    steps:
      - uses: actions/checkout@v5

      - name: GitHub event
        run: echo ${GITHUB_EVENT} | python3 -m json.tool
        env:
          GITHUB_EVENT: ${{ toJson(github) }}

      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - run: pip install --requirement=ci/requirements.txt
      - run: pip install --editable=.

      - uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
          restore-keys: |
            pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
            pre-commit-
      - run: pre-commit run --all-files --color=always
      - run: git diff --exit-code --patch > /tmp/pre-commit.patch; git diff --color; git reset --hard || true
        if: failure()

      - uses: actions/upload-artifact@v5
        with:
          name: Apply pre-commit fix.patch
          path: /tmp/pre-commit.patch
          retention-days: 1
        if: failure()

      # Mark the build as successful
      - run: touch SUCCESS
      - uses: actions/upload-artifact@v5
        with:
          name: Pre-commit success
          path: SUCCESS

  build:
    name: Run tests
    runs-on: ubuntu-24.04
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@v5

      - uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
          restore-keys: |
            pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
            pre-commit-

      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - run: pip install --requirement=ci/requirements.txt
      - run: poetry install
      - run: poetry run prospector --output=pylint --die-on-tool-error
      - run: poetry run integrity-updater --pre-commit --blacklist=https://google\.com/ tests/test.html
      - run: diff --unified tests/expected.html tests/test.html

      # Mark the build as successful
      - run: touch SUCCESS
      - uses: actions/upload-artifact@v5
        with:
          name: Build success
          path: SUCCESS

  publish:
    name: Publish
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    if: always() && !startsWith(github.event.head_commit.message, '[skip ci] ')
    needs:
      - pre-commit
      - build

    steps:
      - name: Check if the pre-commit job was successful
        uses: actions/download-artifact@v6
        with:
          name: Pre-commit success
      - name: Check if the build job was successful
        uses: actions/download-artifact@v6
        with:
          name: Build success

      - uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - run: python3 -m pip install --requirement=ci/requirements.txt

      - name: Init pypi
        run: |-
          echo "[pypi]" > ~/.pypirc
          echo "username = ${{ secrets.PYPI_USERNAME }}" >> ~/.pypirc
          echo "password = ${{ secrets.PYPI_PASSWORD }}" >> ~/.pypirc
        if: env.HAS_SECRETS == 'HAS_SECRETS'
      - name: Publish
        run: tag-publish
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: env.HAS_SECRETS == 'HAS_SECRETS'
      - run: git diff --exit-code --patch > /tmp/dpkg-versions.patch; git diff --color; git reset --hard || true
        if: failure()
      - uses: actions/upload-artifact@v5
        with:
          name: Update dpkg versions list.patch
          path: /tmp/dpkg-versions.patch
          retention-days: 1
        if: failure()
